* {
    margin: 0;
    padding: 0;
}

.test {
    color: #fff;
    /*margin-top:20px;*/
    height:350px;
    font-size: 20px;
}

.test ul {
    list-style: none;
}

.test li {
    position: relative;
    height: 40px;
    border-top:1px solid #aeadad;
    border-bottom:1px solid #aeadad;
}

.test .del-btn {
    position: absolute;
    top:0;
    right:0;
    z-index:-100;
    font-size: 0;
    display:none;
}

.test .del-btn span{
    display:inline-block;
    width:60px;
    height:40px;
    line-height:40px;
    text-align: center;
    font-size: 20px;
    color:#fff;
}
.test .del-btn span:nth-child(1){
    background-color:#3773fd;
}
.test .del-btn span:nth-child(2){
    background-color:#ff4851;
}

.test li div:first-child {
    color: #000;
    height:40px;
    line-height:40px;
}
.move-btn{
    color:#ff4851;
    border: 1px solid #000;
    height:35px;
    float: right;
    display:none;
}
.leave-btn{
    transition:transform .3s ease-in;
}
.move-style{
    z-index:1000;
    background-color:rgba(255,255,255,.3);
}

.test_posi{
    width:300px;
    height:300px;
    background-color:#000;
}








